<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    
    <style type="text/css">
        body {
            padding: 5px
        }
        .tabs { width: 100%; padding: 0px; margin: 0 auto; }
        .tabs>input { display:none; }
        .tabs>div {
            display: none;
            padding: 12px;
            border: 1px solid #C0C0C0;
            background: #FFFFFF;
        }
        .tabs>label {
            display: inline-block;
            padding: 7px;
            margin: 0 -5px -1px 0;
            text-align: center;
            color: #666666;
            border: 1px solid #C0C0C0;
            background: #E0E0E0;
            cursor: pointer;
        }
        .tabs>input:checked + label {
            color: #000000;
            border: 1px solid #C0C0C0;
            border-bottom: 1px solid #FFFFFF;
            background: #FFFFFF;
        }
        #tab_1:checked ~ #txt_1,
        #tab_2:checked ~ #txt_2 { display: block; }
    </style>
    
</head>

<body>
        <nav aria-label="breadcrumb"> 
                <ol class="breadcrumb">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/a">Analitics</a>
                    </li>
                </ol>
        </nav>
    

        <div class="card">
                <li class="breadcrumb-item active" aria-current="page">Анализ обращений</li>
                <div class="tabs">
                        <input class="btn btn-primary" type="radio" name="inset" value="" id="tab_1" checked>
                        <label class="btn btn-primary" for="tab_1">Анализ распределения обращений</label>
                    
                        <input class="btn btn-primary" type="radio" name="inset" value="" id="tab_2">
                        <label class="btn btn-primary" for="tab_2">Клиенты с повторными обращениями</label>
                    
                        
                    
                        <div class="card" id="txt_1">
                                <h5 class="card-title">Тикетов за месяц: {{ texts.tiketByMonth }}<br> Тикетов за неделю: {{ texts.tiketByWeek }}</h5>
                                

                                <div class="row">
                                     {% for employee in texts.employee %}
                                    <div class="card  text-center" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ employee.name }}</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Тикетов <br>за месяц/за неделю</h6>
                                          <p class="card-text">{{ employee.tiketByMonth }} /  {{ employee.tiketByWeek }}</p>
                                          
                                        </div>
                                    </div>
                                    {% endfor %}
                                 <!--   <div class="card  text-center" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ texts.employee_2.name }}</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Тикетов <br>за месяц/за неделю</h6>
                                          <p class="card-text">{{ texts.employee_2.tiketByMonth }} /  {{ texts.employee_2.tiketByWeek }}</p>
                                          
                                        </div>
                                    </div>
                                    
                                    <div class="card  text-center" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ texts.employee_3.name }}</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Тикетов <br>за месяц/за неделю</h6>
                                          <p class="card-text">{{ texts.employee_3.tiketByMonth }} /  {{ texts.employee_3.tiketByWeek }}</p>
                                          
                                        </div>
                                    </div>
                                    <div class="card  text-center" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ texts.employee_4.name }}</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Тикетов <br>за месяц/за неделю</h6>
                                          <p class="card-text">{{ texts.employee_4.tiketByMonth }} /  {{ texts.employee_4.tiketByWeek }}</p>
                                          
                                        </div>
                                    </div>-->
                                </div>   
                                
                        </div>
                        <div class="card" id="txt_2">
                                <h5 class="card-title">Повторные обращения за месяц были у клиентов:</h5>
                                <p class="card-text">
                                    <div class="row">
                                    
                                            {% for text in texts.replayTikets %} 
                                            <div class="card  text-center" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">{{ text.id_by_billing }}</h5>
                                                  <h6 class="card-subtitle mb-2 text-muted">{{ text.name }}</h6>
                                                  <p class="card-text">Адрес: {{ text.address }} <br> Оценка:  {{ text.mark }}</p>
                                                  
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div></p>
                        </div>
                       
                </div>

    </div>
    
   
</body>

</html>